$black-main: rgb(32, 33, 36);
$black-second: rgb(66, 67, 71);

$text-input: rgb(255, 255, 255);
$text-result: rgb(247, 246, 248);
$text-noData: rgb(207, 210, 215);
$text-placeHolder: rgb(197, 200, 205);

$icon-default: invert(0.6);
$icon-loading: invert(0.75);
$icon-active: invert(0.9);

$input-border: rgb(153, 153, 153);
