.main {
  // margin: 0px;
  // padding: 0px;
  // position: relative;
  // width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 600px;
}

.search-page-placeholder {
  height: 30px;
}
